.account-login-center {
    background-color:var(--center_content_background);
    min-height: 88vh;
    min-width: 600px;
    padding-top: 20px;
    padding-bottom: 15px;
    text-align: center;
    padding-top: 30px;
}

.account-login-container, .account-registration-container, .create-note-container {
    height: 300px;
    width: 70%;
    display: inline-block;
    vertical-align: middle;
    background-color: var( --color3);
    border: 2px solid #000000;
    border-radius: 7px;
    display: table;
    margin: 0 auto;
}

.create-note-container {
     width: 95%;
}

.reg-button, .log-button {
    border-radius: 5px;
    width: 280px;
    height: 38px;
    background-color: var(--main_color);
  }

.btn-regis-prof{
    margin-right:5px;
}

.btn-regis-prof:hover {
    color: #FFFFFF;
}

.create-note-button {
    border-radius: 5px;
    width: 280px;
    height: 38px;
    background-color: var(--main_color);
  }

.reg-button:hover, .log-button:hover, .create-note-button:hover {
    border-radius: 5px;
    background-color: #008000;
    color:white;
  }

.login-form, .registration-form {
    padding-right: 20px;
    padding-left: 20px;
}