.center-container-with-title {
    background-color:var(--center_content_background);
    min-height: 50vh;
    min-width: 600px;
    padding-top: 20px;
    padding-bottom: 30px;
}

.news-list-container-with-title {
    min-height: 67vh;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    background-color:var(--center_content_background);
    align-content: baseline;
}

.title_user_info_in_notes-container {
    height: 16%;
}

.title_user_info_in_notes_list {
    margin-left:20px;
    margin-right:20px;
    margin-bottom: 15px;
    background: var(--color3);
    border: 1px solid #000000;
    padding-left: 15px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 20px;
}

.btn-unsub, .btn-sub {
    margin-top: 5px;
    border-radius: 5px;
    width: 180px;
    height: 38px;
    background-color: var(--main_color);
}

.btn-sub:hover, .btn-unsub:hover {
    background-color: #008000;
    color:white;
}
