{% for note, note_info in note_dict.items %}
    <div class="news">
        <div class="news-user-info">
            <div class="row">
                {% if note_info.0.photo %}
                    <img class="col-3 photo-news-user" src="{{ note_info.0.photo.url }}">
                {% endif %}
                <div class="col news-title-text-container">
                    <div class="row">
                        <div class="col-8 row">
                            <div class="col-2 nick-title-col">
                                <h6 class="nick-title text-start">Ник:</h6>
                            </div>
                            <div class="col-5 nick-news-user-col">
                                <h6 class="nick-news-user fw-bolder">{{ note_info.0.username }}</h6>
                            </div>
                            <div class="col-2 id-title-col">
                                <h6 class="id-title text-end">id:</h6>
                            </div>
                            <div class="col-3 id-news-user-col">
                                <h6 class="id-news-user fw-bolder">{{ note_info.0.pk }}</h6>
                            </div>
                        </div>
                        <div class="col-4"></div>
                    </div>
                    <div class="news-user-info-nick-id row">
                        <div class="col-1 title-news">
                            <h6 class="id-news-user">Тема:</h6>
                        </div>
                        <div class="col title-news-text">
                            <h6 class="id-news-user fst-italic fw-bolder">{{ note.title }}</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="description-container">
            <h6 class="description">Описание:</h6>
            <div class="description-text overflow-auto">
                <h6 class="description"> {{ note.content }} </h6>
            </div>
        </div>
        <div class="reaction-container">
            <div class="row">
                <a href="" class="col btn btn-news-like">
                    <div class="row">
                        <div class="col-4 img-news-like"></div>
                        <p class="fs-6 text-start col count-like" style="margin-bottom: 0px;">
                            {{ note_info.1 }}
                        </p>
                    </div>
                </a>

                <a href="" class="col btn btn-news-dislike">
                    <div class="row">
                        <div class="col-4 img-news-dislike"></div>
                        <p class="fs-6 text-start col count-dislike" style="margin-bottom: 0px;">
                            {{ note_info.2 }}
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endfor %}