{% load static %}
{% load board_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'board/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'board/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'board/css/style.css' %}">
    <title> {% block title %}Блог{% endblock %} </title>
    <link rel="shortcut icon" href="{% static 'board/images/favicon.ico' %}" type="image/x-icon">
</head>

<body>
    <header>
        <div class="logo"></div>
        <h4 class="text-start logo-text text-white">Let's tell</h4>
        {% block header_additional_content %}
        {% endblock %}
    </header>

    <section class="main-container">
        <div class="row">
            <div class="col-2 left-container">
                {% get_user_by_pk request.user.pk as user %}
                <div class="main-user-info">
                    <div class="row">
                        {% if user.photo %}
                            <img class="col-3 photo-m-user" src="{{user.photo.url}}">
                        {% endif %}
                        <div class="col info-main-user">
                            <div class="row">
                                <div class="col-2 nick-title-col">
                                    <h6 class="fs-6 nick-title text-center">Ник:</h6>
                                </div>
                                <div class="col nick-main-user-col">
                                    <h6 class="fs-6 nick-main-user text-center fw-bolder">{{ user.username }}</h6>
                                </div>
                            </div>
                            <div class="row user-id">
                                <div class="col-3 id-title-col text-center">
                                    <h6 class="fs-6 id-title">id:</h6>
                                </div>
                                <div class="col id-main-user-col text-center">
                                    <h6 class="fs-6 id-main-user fw-bolder">{{ user.pk }}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="menu-left-container">
                    {% for m in menu %}
                        <a href="{% url m.url_name %}" class="btn btn-sm btn-create-note btn-left-menu">
                            <div class="img-menu"></div>
                            <div class="text-start text-menu-block">
                                <h6 class="text-menu">{{ m.title }}</h6>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
            <div class="col center-container">
                <div class="news-list-container overflow-auto">
                    {% block center_content %}
                    {% endblock %}
                </div>
            </div>
            <div class="col-2 right-container">
                {% block right_content %}
                {% endblock %}
            </div>
        </div>
    </section>

    <footer> </footer>
    <script src="{% static 'board/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>