{% extends "board/basic.html" %}
{% load board_tags %}

{% block title %}Редактирование профиля{% endblock %}


{% block header_additional_content %}
    <div class="head-container">
        <div class="exit-from-account-container">
            <a href="{% url 'user_logout' %}" class="btn btn-exit-from-account">
                <h6 class="exit-header-text fst-italic">Выход</h6>
            </a>
        </div>
    </div>
{% endblock %}

{% block center_content_inside %}
    <div class="col center-container account-login-center">
        <div class="account-registration-container">
            <div class="row">
                <div class="col-2"></div>
                <p class="fs-4 fw-bold">Редактирование профиля</p>
            </div>
            <form method="post">
                {% csrf_token %}
                <div class="form-error"> {{ form.non_field_errors }}</div>
                    {% for f in form %}
                        <div class="row">
                           <div class="col-4 text-center">
                               <b><label for="{{ f.id_for_label }}">{{ f.label }}</label></b>
                           </div>
                           <div class="col-8 text-start">{{ f }}</div>
                           <div class="error">{{ field.errors }}</div>
                        </div>
                        <div class="row">
                           <div class="col-1"></div>
                           <div class="col">
                               <i><label for="{{ f.id_for_label }}">{{ f.help_text|linebreaks }}</label></i>
                           </div>
                        </div>
                    <br>
                    {% endfor %}
                <a href="{% url 'password' %}"class="btn-change-password"><u>Изменить пароль</u></a>
                <br>
                <br>
                <div class="text-center">
                    <input type="submit" value="Редактировать" class="reg-button">
                </div>
            </form>
            <br>
        </div>
    </div>
{% endblock %}