{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  rel="stylesheet" href="{% static 'board/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'board/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'board/css/style.css' %}">
    <title>Блог</title>
</head>

<body>
    <header>
        <img class="logo" src="{% static 'board/images/logo.jpg' %}">
        <h4 class="text-start logo-text text-white">Let's tell</h4>
        <div class="head-container"> 
            <div class="exit-from-account-container">
                <a href="" class="btn btn-exit-from-account">
                    <h6 class="exit-header-text fst-italic">Выход</h6>
                </a>
            </div>
        </div>
    </header>

    <section class="main-container">
        <div class="row">
            <div class="col-2 left-container">
                <div class="main-user-info">
                    <div class="row">
                        <div class="col-3 photo-main-user"></div>
                        <div class="col info-main-user">
                            <div class="row">
                                <div class="col-3 nick-title-col">
                                    <h6 class="fs-6 nick-title text-center">Ник:</h6>
                                </div>
                                <div class="col nick-main-user-col">
                                    <h6 class="fs-6 nick-main-user text-center fw-bolder">{{ user.name }}</h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3 id-title-col text-center">
                                    <h6 class="fs-6 id-title">id:</h6>
                                </div>
                                <div class="col id-main-user-col text-center">
                                    <h6 class="fs-6 id-main-user fw-bolder">{{ user.pk }}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="menu-left-container">
                    <a href="" class="btn btn-sm btn-create-note btn-left-menu">
                        <img class="img-menu" src="img/create.svg" alt="За стеклом">
                        <div class="text-start text-menu-block">
                            <h6 class="text-menu">Создать запись</h6>
                        </div>
                    </a>
                    <a href="" class="btn btn-sm look-note btn-left-menu">
                        <img class="img-menu" src="img/my_notes.svg" alt="За стеклом">
                        <div class="text-start text-menu-block">
                            <h6 class="text-menu">Просмотреть записи</h6>
                        </div>
                    </a>
                    <a href="" class="btn btn-sm edit-note btn-left-menu">
                        <img class="img-menu" src="img/edit_black_24dp.svg" alt="За стеклом">
                        <div class="text-start text-menu-block">
                            <h6 class="text-menu">Черновик</h6>
                        </div>
                    </a>
                    <a href="" class="btn btn-sm subscribers btn-left-menu">
                        <img class="img-menu" src="img/subscribes.svg" alt="За стеклом">
                        <div class="text-start text-menu-block">
                            <h6 class="text-menu">Подписчики</h6>
                        </div>
                    </a>
                    <a href="" class="btn btn-sm my-subscribers btn-left-menu">
                        <img class="img-menu" src="img/favorite.svg" alt="За стеклом">
                        <div class="text-start text-menu-block">
                            <h6 class="text-menu">Подписки</h6>
                        </div>
                    </a> 
                </div>
            </div>
            <div class="col center-container">
                <div class="news-list-container overflow-auto">
                    <div class="news">
                        <div class="news-user-info">
                            <div class="row">
                                <div class="col-3 photo-news-user"></div>
                                <div class="col news-title-text-container">
                                    <div class="row">
                                        <div class="col-8 row">
                                            <div class="col-2 nick-title-col">
                                                <h6 class="nick-title text-start">Ник:</h6>
                                            </div>
                                            <div class="col-5 nick-news-user-col">
                                                <h6 class="nick-news-user fw-bolder">Agent_Rediska</h6>
                                            </div>
                                            <div class="col-2 id-title-col">
                                                <h6 class="id-title text-end">id:</h6>
                                            </div>
                                            <div class="col-3 id-news-user-col">
                                                <h6 class="id-news-user fw-bolder">2312311</h6>
                                            </div>
                                        </div>
                                        <div class="col-4"></div>
                                    </div>
                                    <div class="news-user-info-nick-id row">
                                        <div class="col-1 title-news">
                                            <h6 class="id-news-user">Тема:</h6>
                                        </div>
                                        <div class="col title-news-text"> 
                                            <h6 class="id-news-user fst-italic fw-bolder">Грут и всего лишь малеьнкая точка</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="description-container">
                            <h6 class="description">Описание:</h6>
                            <div class="description-text overflow-auto">
                                <h6 class="description">Текст небольшого размера<br/>Текст небольшого размера
                                    <br/>Текст небольшого размера<br/>Текст небольшого размера<br/>Текст небольшого размера<br/>Текст небольшого размера<br/>Текст небольшого размера
                                    Текст небольшого размера<br/>Текст небольшого размера<br/>Текст небольшого размера<br/>Текст небольшого размера<br/>
                                    Текст небольшого размера<br/>Текст небольшого размера<br/>Текст небольшого размера<br/>Текст небольшого размера<br/>
                                </h6>
                            </div>
                        </div>
                        <div class="reaction-container">
                            <div class="row">
                                <div class="col-6">
                                    <a href="" class="btn btn-news-like">
                                        <img class="img-news-like" src="img/like.svg" alt="За стеклом">
                                        <h6 class="count-like fst-italic">12332</h6>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="" class="btn btn-news-dislike">
                                        <img class="img-news-dislike" src="img/dislike.svg" alt="За стеклом">
                                        <h6 class="count-dislike ">3231</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="news">
                        <div class="news-user-info">
                            <div class="row">
                                <div class="col-3 photo-news-user"></div>
                                <div class="col news-title-text-container">
                                    <div class="row">
                                        <div class="col-8 row">
                                            <div class="col-2 nick-title-col">
                                                <h6 class="nick-title text-start">Ник:</h6>
                                            </div>
                                            <div class="col-5 nick-news-user-col">
                                                <h6 class="nick-news-user fw-bolder">Agent_Rediska</h6>
                                            </div>
                                            <div class="col-2 id-title-col">
                                                <h6 class="id-title text-end">id:</h6>
                                            </div>
                                            <div class="col-3 id-news-user-col">
                                                <h6 class="id-news-user fw-bolder">2312311</h6>
                                            </div>
                                        </div>
                                        <div class="col-4"></div>
                                    </div>
                                    <div class="news-user-info-nick-id row">
                                        <div class="col-1 title-news">
                                            <h6 class="id-news-user">Тема:</h6>
                                        </div>
                                        <div class="col title-news-text"> 
                                            <h6 class="id-news-user fst-italic fw-bolder">Грут и всего лишь малеьнкая точка</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="description-container">
                            <h6 class="description">Описание:</h6>
                            <div class="description-text overflow-auto">
                                <h6 class="description">Текст небольшого размера<br/>Текст небольшого размера
                                    <br/>Текст небольшого размера<br/>Текст небольшого размера<br/>Текст небольшого размера<br/>Текст небольшого размера<br/>Текст небольшого размера
                                    Текст небольшого размера<br/>Текст небольшого размера<br/>Текст небольшого размера<br/>Текст небольшого размера<br/>
                                    Текст небольшого размера<br/>Текст небольшого размера<br/>Текст небольшого размера<br/>Текст небольшого размера<br/>
                                </h6>
                            </div>
                        </div>
                        <div class="reaction-container">
                            <div class="row">
                                <div class="col-6">
                                    <a href="" class="btn btn-news-like">
                                        <img class="img-news-like" src="img/like.svg" alt="За стеклом">
                                        <h6 class="count-like fst-italic">12332</h6>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="" class="btn btn-news-dislike">
                                        <img class="img-news-dislike" src="img/dislike.svg" alt="За стеклом">
                                        <h6 class="count-dislike ">3231</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="news">
                        <div class="news-user-info">
                            <div class="row">
                                <div class="col-3 photo-news-user"></div>
                                <div class="col news-title-text-container">
                                    <div class="row">
                                        <div class="col-8 row">
                                            <div class="col-2 nick-title-col">
                                                <h6 class="nick-title text-start">Ник:</h6>
                                            </div>
                                            <div class="col-5 nick-news-user-col">
                                                <h6 class="nick-news-user fw-bolder">Agent_Rediska</h6>
                                            </div>
                                            <div class="col-2 id-title-col">
                                                <h6 class="id-title text-end">id:</h6>
                                            </div>
                                            <div class="col-3 id-news-user-col">
                                                <h6 class="id-news-user fw-bolder">2312311</h6>
                                            </div>
                                        </div>
                                        <div class="col-4"></div>
                                    </div>
                                    <div class="news-user-info-nick-id row">
                                        <div class="col-1 title-news">
                                            <h6 class="id-news-user">Тема:</h6>
                                        </div>
                                        <div class="col title-news-text"> 
                                            <h6 class="id-news-user fst-italic fw-bolder">Грут и всего лишь малеьнкая точка</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="description-container">
                            <h6 class="description">Описание:</h6>
                            <div class="description-text overflow-auto">
                                <h6 class="description">Текст небольшого размера<br/>Текст небольшого размера
                                    <br/>Текст небольшого размера<br/>Текст небольшого размера<br/>Текст небольшого размера<br/>Текст небольшого размера<br/>Текст небольшого размера
                                    Текст небольшого размера<br/>Текст небольшого размера<br/>Текст небольшого размера<br/>Текст небольшого размера<br/>
                                    Текст небольшого размера<br/>Текст небольшого размера<br/>Текст небольшого размера<br/>Текст небольшого размера<br/>
                                </h6>
                            </div>
                        </div>
                        <div class="reaction-container">
                            <div class="row">
                                <div class="col-6">
                                    <a href="" class="btn btn-news-like">
                                        <img class="img-news-like" src="img/like.svg" alt="За стеклом">
                                        <h6 class="count-like fst-italic">12332</h6>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="" class="btn btn-news-dislike">
                                        <img class="img-news-dislike" src="img/dislike.svg" alt="За стеклом">
                                        <h6 class="count-dislike ">3231</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="col-2 right-container">
                <div class="subs-user-info">
                    <div class="row">
                        <div class="col-3 photo-subs-user"></div>
                        <div class="col info-subs-user">
                            <div class="row">
                                <div class="col-3 nick-title-col">
                                    <h6 class="fs-6 nick-title text-center">Ник:</h6>
                                </div>
                                <div class="col nick-subs-user-col">
                                    <h6 class="fs-6 nick-subs-user text-center fw-bolder">Agent_Rediska</h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3 id-title-col text-center">
                                    <h6 class="fs-6 id-title">id:</h6>
                                </div>
                                <div class="col id-subs-user-col text-center">
                                    <h6 class="fs-6 id-subs-user fw-bolder">2312311</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="subs-user-info">
                    <div class="row">
                        <div class="col-3 photo-subs-user"></div>
                        <div class="col info-subs-user">
                            <div class="row">
                                <div class="col-3 nick-title-col">
                                    <h6 class="fs-6 nick-title text-center">Ник:</h6>
                                </div>
                                <div class="col nick-subs-user-col">
                                    <h6 class="fs-6 nick-subs-user text-center fw-bolder">Agent_Rediska</h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3 id-title-col text-center">
                                    <h6 class="fs-6 id-title">id:</h6>
                                </div>
                                <div class="col id-subs-user-col text-center">
                                    <h6 class="fs-6 id-subs-user fw-bolder">2312311</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        
    </footer>
    <script src="{% static 'board/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>