{% extends "board/basic.html" %}
{% load board_tags %}

{% block title %}Главная{% endblock %}


{% block header_additional_content %}
    <div class="head-container">
        <div class="exit-from-account-container">
            <a href="{% url 'user_logout' %}" class="btn btn-exit-from-account">
                <h6 class="exit-header-text fst-italic">Выход</h6>
            </a>
        </div>
    </div>
{% endblock %}

{% block center_content_inside %}
    {% show_note_dict request.user.pk %}
{% endblock %}

{% block right_content %}
    {% show_subscription_list request.user.pk %}
{% endblock %}